@model IEnumerable<Libray.ViewModel.SetVM>

@{
    ViewData["Title"] = "Sets";
}

<h1>Sets</h1>

<p>
    <a asp-action="CreateSet" class="btn btn-primary">Create New Set</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SetName
                </td>
                <td>
                    <a asp-action="EditSet" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="AddBooksToSet" asp-route-id="@item.Id" class="btn btn-info">Add Books</a>
                </td>
            </tr>
        }
    </tbody>
</table>
