@model Libray.ViewModel.LibaryVM

@{
    ViewData["Title"] = "Add Library";
}

<h1>Add Library</h1>

<form asp-action="AddLibrary" method="post">
    <div class="form-group">
        <label asp-for="Ganre" class="control-label"></label>
        <input asp-for="Ganre" class="form-control" />
        <span asp-validation-for="Ganre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Library</button>
</form>

<a href="@Url.Action("Index", "Library")" class="btn btn-secondary">Back to List</a>
